In [4]:
import pandas as pd
import numpy as np

In [5]:
index = pd.MultiIndex.from_product([['w/ BN', 'w/o BN'], ['Loss', 'Training Time']])

In [9]:
df = pd.DataFrame(np.random.rand(3, 4), index=['ReLU', 'ELU', 'LeakyLU'], columns=index)

In [13]:
df

            w/ BN                  w/o BN
             Loss Training Time      Loss Training Time
ReLU     0.186848      0.998848  0.045029      0.665911
ELU      0.900514      0.897506  0.444610      0.310078
LeakyLU  0.313960      0.432559  0.015298      0.247735

In [22]:
s = df.style.set_table_styles([
    {'selector': 'th',
    'props': [
        ('border-style', 'solid'),
        ('border-color', 'black'),
        ('vertical-align','top'),
        ('text-align', 'center')
    ]
    }])

In [23]:
s

In [39]:
df.style.highlight_min(color='cyan').set_table_styles([
    {'selector': 'th',
    'props': [
        #('border-style', 'solid'),
        #('border-color', 'black'),
        #('vertical-align','top'),
        ('text-align', 'center')
    ]
    }])

In [28]:
np.array(['a', '4'])

array(['a', '4'], dtype='<U1')

In [42]:
activations = ['ReLU', 'ELU', 'LeakyLU']

In [43]:
index2 = pd.MultiIndex.from_product([['Loss'], activations])

In [44]:
index2

MultiIndex([('Loss',    'ReLU'),
            ('Loss',     'ELU'),
            ('Loss', 'LeakyLU')],
           )

In [62]:
df2 = pd.DataFrame(np.random.rand(2, 3), index=['SGD', 'Adam'], columns=index2)

In [63]:
df2.style.set_table_styles([
    {'selector': 'th',
    'props': [
        #('border-style', 'solid'),
        #('border-color', 'black'),
        ('vertical-align','top'),
        ('text-align', 'center')
    ]
    }])

In [64]:
df2.style.set_table_styles([
    {'selector': 'th',
    'props': [
        ('border-style', 'solid'),
        ('border-color', 'black'),
        ('vertical-align','top'),
        ('text-align', 'center'),
        ('border-width','1px')
    ]
    }])

In [65]:
pd.DataFrame(np.random.rand(2, 3), index=['No BN', 'BN'], columns=index2)

           Loss
           ReLU       ELU   LeakyLU
No BN  0.983186  0.363060  0.471928
BN     0.058140  0.269489  0.669467